<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS.Properties.Settings.SQL_QUANLYHOCSINHConnectionString"
            connectionString="Data Source=sky;Initial Catalog=SQL_QUANLYHOCSINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>